
.Input {
    text-align: center;
    border-color: darkslateblue;
    background-color: antiquewhite;
}

.H1 {
    color: darkslateblue;
}

.P {
    color: darkslateblue;
}

.div {
    color: darkslateblue;
    
}