body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fafafa;
  margin: 0;
  font-family: sans-serif;
}
.app-container {
  max-width: 400px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.app-header {
  background-image: url("./assets/header-bg.png");
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: -20px -20px 20px -20px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.header-overlay {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.current-date {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.current-time {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.input-section {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 20px;
}

.input-section span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
}

.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  border-bottom: 1px solid #f0f0f0;
}

.task-input {
  flex: 1;
  border: none;
  outline: none;
  color: lightgray;
  background: transparent;
  padding: 15px 15px 15px 10px;
  font-size: 16px;
  color: #333;
}

.task-input::placeholder {
  color: #b0b0b0;
}

.add-btn {
  background-color: #00ebd4;
  color: white;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 22px;
  cursor: pointer;
  transition: background 0.2s;
}

.add-btn:disabled {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

.task-info {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  flex: 1;
}

.task-title {
  font-size: 16px;
  margin: 0;
  color: #333;
}

.task-date {
  font-size: 12px;
  color: #a0a0a0; 
  margin: 0;
}

.delete-button,
.status-button{
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 5px;
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  
}

.task-card:last-child {
  border-bottom: none;
}

.complated {
  text-decoration: line-through;
  color: #b0b0b0;
}

/* მობილური მოწყობილობებისთვის */
@media (max-width: 480px) {
  body {
    align-items: flex-start; 
    background-color: white;
  }

  .app-container {
    max-width: 90%; 
    min-height: 100vh;
    border-radius: 0; 
    box-shadow: none;
    padding: 15px;
  }

  .app-header {
    border-radius: 0; 
    margin: -15px -25px 20px -25px;
    height: 180px;
  }

  .current-time {
    font-size: 30px; 
  }

  .task-input {
    font-size: 15px;
    padding: 12px 12px 12px 8px;
  }

  .add-btn {
    padding: 0 16px;
  }
}

