.planet-detail {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.planet-detail-top {
  display: flex;
  gap: 80px;
  align-items: center;
  margin-top: 40px;
}

.planet-image-wrapper {
  flex: 1;
}

.planet-info-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.planet-name {
  font-family: var(--font-antonio);
  font-size: var(--h1-size);
  line-height: var(--h1-line);
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.planet-description {
  font-size: var(--body-size);
  line-height: var(--body-line);
  color: var(--color-gray);
}

.planet-source a {
  color: var(--color-gray);
  text-decoration: underline;
  font-weight: 700;
}

/* Tablet */
@media (max-width: 768px) {
  .planet-detail {
    padding: 0 24px;
  }
  .planet-detail-top {
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
  }
  .planet-info-wrapper {
    align-items: center;
    text-align: center;
  }
  .planet-name {
    font-size: 48px;
    line-height: 60px;
  }
}

/* Mobile */
@media (max-width: 375px) {
  .planet-detail {
    padding: 0 16px;
  }
  .planet-detail-top {
    gap: 20px;
  }
  .planet-name {
    font-size: 40px;
    line-height: 52px;
  }
  .planet-description {
    font-size: 12px;
    line-height: 22px;
  }
  .planet-info-wrapper {
    gap: 16px;
  }
}
